:root {
    --main-blue: #5784BA;
    --main-beige: #FBFAE0;
    --main-altblue: #30B2D1;
    --main-darkgrey: #5a5a5a;
}

@font-face {
    font-family: 'Gill Sans';
    src: url(/FONT/GillSans.ttc) format(ttc);
}


html {
    background-color: var(--main-beige);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;

}

h1, h2, h3, h4 {
    margin: 0;
}

.inl-bk {
    display: inline-block;
}

.psr {
    position: relative;
}

.psa {
    position: absolute;
}

/* mark {
    color: var(--main-beige);
    background-color: var(--main-blue);
} */