@import 'commons';


// *------- HEADER SECTION -------* //


.header-container {
    display: flex;
    position: relative;
    height: 750px;

    & >.right-vhbox {
        text-align: right;
        margin-top: 210px;
        width: 50%;

        & >#first-santa {
            font-size: 180px;
            font-weight: bold;
            color: var(--main-blue);
            transform: translateX(15%);
        }
        
        & >#second-santa {
            font-size: 180px;
            font-weight: bold;
            color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--main-altblue);
            transform: translateX(16%) translateY(-96%);
        }
        
        & >#first-deoliveira {
            font-size: 90px;
            font-weight: bold;
            color: var(--main-blue);
            transform: translateY(-240%);
            margin-right: 20px;
        }
        
        & >#second-deoliveira {
            font-size: 90px;
            font-weight: bold;
            color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--main-altblue);
            transform: translateX(-1.8%) translateY(-335.5%);
        }
        
        & >#assistant {
            font-size: 40px;
            color: var(--main-darkgrey);
            margin-right: 20px;
            transform: translateY(-710%);
        }
        
        & >#project-manager {
            font-size: 40px;
            color: var(--main-darkgrey);
            margin-right: 20px;
            transform: translateY(-730%);
        }

        & .linkedin-icon {

            & img {
                transform: translateY(-647%);
            }
        }
        
        & .contact-btn-link {
            text-decoration: none;
            color: var(--main-beige);

            & >.email-me-button {
                width: 220px;
                height: 50px;
                margin-right: 20px;
                transform: translateY(-680%);
                font-size: 20px;
                font-weight: bold;
                border: none;
                border-radius: 12px;
                color: var(--main-beige);
                background: linear-gradient(-90deg, var(--main-blue), var(--main-altblue));
                background-size: 800% 800%;
                animation: gradient 15s ease infinite;
            }
            
            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

            & :hover {
                color: var(--main-blue);
                background: none;
                background-color: var(--main-beige);
                border: 2px solid var(--main-beige);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 10px 25px -18px inset;
            }
        }
    }

    & >.left-vhbox {
        margin-top: 80px;
        width: 50%;

        & >.profile-picture {
            background-image: url(/MEDIAS/profile-picture.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 600px;
            height: 600px;
            border-radius: 30px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}

// *------- BIO/PROFILE SECTION -------* //

.bio {
    text-align: left;
    font-size: 30px;
    margin: 100px auto 150px auto;
    color: var(--main-blue);
    font-weight: lighter;
    width: 930px;
    
    & p {

        & >.highlight-animation {
            position: relative;
    
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                top: 0;
                left: 0;
                background: linear-gradient(to top, rgb(170, 219, 241) 100%, transparent 100%);
                animation-name: highlight;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
              }
              
            @keyframes highlight {
            0% {
                width: 0;
                opacity: 0;
            }
            
            50% {
                width: 100%;
                opacity: 1;
            }
            
            }
        }

    }


}



// *------- EXPERIENCE SECTION -------* //



.xp-section {
    background-color: var(--main-blue);
    color: var(--main-beige);
    height: auto;

    & >.xp-container {
        display: flex;
        margin: auto;
        width: 66%;
        
        & >.xp-title {
            writing-mode: vertical-lr;
            font-size: 50px;
            margin: 40px 40px 0 0;
            color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--main-beige);
            margin-bottom: 50px;

            & h2 {
                text-align: center;
            }
        }
        
        & >.xp-chrono {
            margin: 0 40px 0 40px;
            font-size: 30px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            & p {
                margin: 50px 0 50px 0;
            }

            & >.line-out-top {
                width: 3px;
                height: 200px;
                background-color: var(--main-beige);
                border-radius: 0 0 10px 10px;
            }

            & >.line-in {
                width: 3px;
                height: 100px;
                background-color: var(--main-beige);
                border-radius: 10px;
            }

            & >.line-out-down {
                width: 3px;
                height: 200px;
                background-color: var(--main-beige);
                border-radius: 10px 10px 0 0;
            }
        }

        & >.xp-content {
            margin: 40px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & >:nth-child(1) {
                margin-top: 70px;
            }

            & >.xp-block {
                margin-bottom: 65px;

                & >h4 {
                    font-size: 22px;
                    font-weight: normal;

                    & >mark {
                        color: var(--main-blue);
                        background-color: var(--main-beige);
                    }

                    & >a {
                        text-decoration: none;
                        color: var(--main-beige);
                        
                    }
                }

                & >p {
                    font-size: 19px;
                    font-weight: lighter;
                    margin-top: 15px;
                }
            }
        }
    } 
}


// *------- ROSA PARKS SAYING SECTION -------* //


.saying-section {
    width: 65%;
    color: var(--main-blue);
    text-align: left;
    margin: 150px auto 150px auto;
    height: auto;

    & >.quote-up {
        transform: translateY(40%);
    }

    & >.saying-text {
        font-size: 50px;
        font-weight: lighter;
        line-height: 80%;
        width: 83%;
    }

    & >.saying-author {
        font-size: 50px;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: var(--main-altblue);
        transform: translateY(-20%);

        & >.quote-down {
            transform: translateX(470%) translateY(-30%);

        }
    }
}


// *------- STUDIES SECTION -------* //


.studies-section {
    background-color: var(--main-blue);
    color: var(--main-beige);

    & >.studies-container {
        display: flex;
        margin: auto;
        width: 66%;
        justify-content: space-around;
        
        & >.studies-title {
            writing-mode: vertical-lr;
            margin-right: 40px;
            font-size: 50px;
            color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--main-beige);

            & h2 {
                text-align: center;
            }
        }

        
        & >.studies-chrono {
            margin: 0 40px 0 40px;
            font-size: 30px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            & p {
                margin: 40px 0 40px 0;
            }

            & >.line-out-top {
                width: 3px;
                height: 160px;
                background-color: var(--main-beige);
                border-radius: 0 0 10px 10px;
            }

            & >.line-in {
                width: 3px;
                height: 60px;
                background-color: var(--main-beige);
                border-radius: 10px;
            }

            & >.line-out-down {
                width: 3px;
                height: 160px;
                background-color: var(--main-beige);
                border-radius: 10px 10px 0 0;
            }
        }

        & >.studies-content {
            margin: 0 320px 0 40px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & >:nth-child(1) {
                margin: 37px 0 112px 0;
            }

            & >.studies-block {

                & >h4 {
                    font-size: 22px;
                    font-weight: normal;
                    & >mark {
                        color: var(--main-blue);
                        background-color: var(--main-beige);
                    }
                }

                & >p {
                    font-size: 19px;
                    font-weight: lighter;
                    margin-top: 15px;
                }
            }
        }
    } 
}


// *------- SKILLS SECTION -------* //


.skills-section {
    color: var(--main-blue);
    height: auto;
    padding: 100px 0 100px 0;
    text-align: center;

    & >.skills-container {
        display: flex;
        justify-content: center;

        & >.skills-stars {

            text-align: right;
            font-size: 30px;
            
            & ul {
                margin-right: 30px;
            }

            & li {
                list-style-type: none;
                line-height: 200%;

                & img {
                    opacity: 0.5;
                }
            }
        }

        & >.skills-line {
            width: 2px;
            background-color: var(--main-altblue);
            border-radius: 10px;
        }

        & >.skills-names {
            text-align: left;
            font-size: 30px;
            font-weight: lighter;

            & ul {
                margin-left: 30px;
            }

            & li {
                list-style-type: none;
                line-height: 200%;
            }
        }
    }
}


// *------- CONTACT FORM SECTION -------* //


#form-section {
    background-color: var(--main-blue);
    color: var(--main-beige);
    padding: 120px 0 170px 0;
    height: auto;
    display: flex;
    justify-content: center;

    & >.form-container {
        font-size: 20px;
        text-align: center;

        & >h2 {
            font-size: 70px;
            color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--main-beige);                
            margin-bottom: 50px;
        }

        & >form {

            & >.form-element {
            
                & input {
                    color: var(--main-blue);
                    background-color: var(--main-beige);
                    border: 2px solid var(--main-beige);
                    border-radius: 20px;
                    width: 400px;
                    height: 40px;
                    margin-top: 16px;
                    padding-left: 16px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 10px 25px -18px inset;
                    outline: none;

                    &::-webkit-input-placeholder {
                        color: var(--main-blue);
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }

                    &:-moz-placeholder {
                        color: var(--main-blue);
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }

                    &:focus {
                        border: none;
                        color: var(--main-beige);
                        background-color: transparent;

                        &::-webkit-input-placeholder {
                            color: var(--main-beige);
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        }
    
                        &:-moz-placeholder {
                            color: var(--main-beige);
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        }
                    }
                }

                & textarea {
                    color: var(--main-blue);
                    background-color: var(--main-beige);
                    border: 2px solid var(--main-beige);
                    border-radius: 20px;
                    width: 450px;
                    height: 150px;
                    margin-top: 32px;
                    padding: 16px 0 0 16px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 10px 25px -18px inset;
                    outline: none;

                    &::-webkit-input-placeholder {
                        color: var(--main-blue);
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }

                    &:-moz-placeholder {
                        color: var(--main-blue);
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }

                    &:focus {
                        border: none;
                        color: var(--main-beige);
                        background-color: transparent;

                        &::-webkit-input-placeholder {
                            color: var(--main-beige);
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        }
    
                        &:-moz-placeholder {
                            color: var(--main-beige);
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        }
                    }
                }
            }

            & >button {
                margin-top: 32px;
                width: 400px;
                height: 40px;
                background-color: transparent;
                color: var(--main-beige);
                border: 2px solid var(--main-beige);
                border-radius: 20px;
    
                &:hover {
                    background-color: var(--main-altblue);
                    color: var(--main-beige);
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                }
            }
        }   
    }
}


// *------- FOOTER SECTION -------* //


.footer-line {
    width: 100%;
    height: 2px;
    background-color: var(--main-beige);
}

.footer-section {
    background-color: var(--main-blue);
    color: var(--main-beige);
    padding: 30px 0 30px 0;
    font-size: 20px;
    height: auto;
    display: flex;
    justify-content: center;

    & >.footer-container {
        text-align: center;

        & a {
            text-decoration: none;
            color: var(--main-beige);
        }

        & >div {
            margin-top: 15px;
        }

        & .top {
            text-decoration: none;
            color: var(--main-beige);

            & button {
                width: 200px;
                height: 30px;
                font-size: 15px;
                font-weight: bold;
                border: 1px solid var(--main-beige);
                border-radius: 12px;
                color: var(--main-beige);
                background-color: var(--main-blue);
            }

            & :hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
    }

}


// *------- MEDIA QUERIES -------* //


@media (max-width: 1400px) {

    // *------- HEADER MAX 1400PX MEDIA QUERIES -------* //

    .header-container {
        height: 600px;

        &>.right-vhbox {

            &>#first-santa {
                font-size: 150px;
                transform: translateX(15%);
            }

            & >#second-santa {
                font-size: 150px;
                transform: translateX(16%) translateY(-96%);
            }
            
            & >#first-deoliveira {
                font-size: 75px;
                transform: translateY(-240%);
            }
            
            & >#second-deoliveira {
                font-size: 75px;
                transform: translateX(-2.2%) translateY(-335.5%);
            }

            & >#assistant {
                font-size: 30px;
                transform: translateY(-780%);
            }
            
            & >#project-manager {
                font-size: 30px;
                transform: translateY(-800%);
            }

            & .linkedin-icon {

                & img {
                    transform: translateY(-550%);
                }

            }

            & .contact-btn-link {

                & >.email-me-button {
                    transform: translateY(-583%);
                }
            }
        }
        

        & >.left-vhbox {

            & >.profile-picture {
                width: 500px;
                height: 500px;
            }
        }
    }

    // *------- ROSA PARKS SAYING MAX 1400PX MEDIA QUERIES -------* //

    .saying-section {

        & .saying-text {

            width: 90%;
        }
        
        & .saying-author {

            & .quote-down {

                transform: translateX(20%) translateY(30%);

            }
        }
    }

    // *------- STUDIES MAX 1400PX MEDIA QUERIES -------* //

    .studies-section {

        & .studies-container {
            
            & .studies-content {

                margin: 0 240px 0 40px;
            }
        }
    }

}

@media (max-width: 1160px) {

    // *------- HEADER MEDIA QUERIES -------* //

    .header-container {
        height: 500px;

        &>.right-vhbox {

            &>#first-santa {
                font-size: 120px;
                transform: translateX(15%) translateY(-30%);
            }

            & >#second-santa {
                font-size: 120px;
                transform: translateX(16%) translateY(-126%);
            }
            
            & >#first-deoliveira {
                font-size: 60px;
                transform: translateY(-300%);
            }
            
            & >#second-deoliveira {
                font-size: 60px;
                transform: translateX(-2.8%) translateY(-395.5%);
            }

            & >#assistant {
                font-size: 25px;
                transform: translateY(-900%);
            }
            
            & >#project-manager {
                font-size: 25px;
                transform: translateY(-920%);
            }

            & .linkedin-icon {

                & img {
                    transform: translateY(-530%);
                }

            }

            & .contact-btn-link {

                & >.email-me-button {
                    width: 180px;
                    height: 40px;
                    font-size: 15px;
                    transform: translateY(-710%);
                }
            } 
        }

        & >.left-vhbox {

            & >.profile-picture {
                width: 400px;
                height: 400px;
            }
        }
    }

    .bio {
        font-size: 22px;
        width: 700px;

        & >.blue-line {
            transform: translateY(480%) translateX(-50%);
        }
    }

    // *------- EXPERIENCE MAX 1160PX MEDIA QUERIES -------* //

    .xp-section {

        & >.xp-container {
            width: 80%;
        }
    }


    // *------- STUDIES SAYING MAX 1160PX MEDIA QUERIES -------* //

    .studies-section {

        & .studies-container {
            
            & .studies-content {

                margin: 0 150px 0 40px;
            }
        }
    }
}



@media (max-width: 950px) {


    // *------- HEADER MEDIA QUERIES -------* //


    .header-container {
        height: 400px;

        &>.right-vhbox {

            &>#first-santa {
                font-size: 85px;
                transform: translateX(15%) translateY(-60%);
            }

            & >#second-santa {
                font-size: 85px;
                transform: translateX(16%) translateY(-156%);
                -webkit-text-stroke-width: 1px;
            }
            
            & >#first-deoliveira {
                font-size: 40px;
                transform: translateY(-380%);
                margin-right: 10px;
            }
            
            & >#second-deoliveira {
                font-size: 40px;
                transform: translateX(-1.7%) translateY(-475.5%);
                -webkit-text-stroke-width: 1px;
            }

            & >#assistant {
                font-size: 22px;
                transform: translateY(-800%);
                margin-right: 10px;

            }
            
            & >#project-manager {
                font-size: 22px;
                transform: translateY(-820%);
                margin-right: 10px;

            }

            & .linkedin-icon {

                & img {
                    transform: translateY(-605%);
                    width: 35px;
                }

            }

            & .contact-btn-link {

                & >.email-me-button {
                    width: 140px;
                    height: 30px;
                    font-size: 10px;
                    border-radius: 10px;
                    transform: translateY(-750%);
                    margin-right: 10px;

                }
            } 
        }

        & >.left-vhbox {

            & >.profile-picture {
                width: 300px;
                height: 300px;
            }
        }
    }

    .bio {
        font-size: 19px;
        width: 600px;
        margin: 50px auto 100px auto;


        & >.blue-line {
            width: 45px;
            height: 2px;
            transform: translateY(530%) translateX(-30%);
        }
    }


    // *------- EXPERIENCE MAX 950PX MEDIA QUERIES -------* /

    .xp-section {
        background-color: var(--main-blue);
        color: var(--main-beige);
        height: auto;
    
        & >.xp-container {


            
            & >.xp-chrono {

                & >.line-out-top {
                    height: 370px;

                }

                & .line-in {
                    height: 200px;
                }
    
                & >.line-out-down {
                    height: 370px;

                }
            }
        }
    }
        
        
    // *------- ROSA PARKS SAYING MAX 950PX MEDIA QUERIES -------* //

    .saying-section {
        
        & .saying-author {

            & .quote-down {

                transform: translateX(20%) translateY(30%);

            }
        }
    }

    // *------- STUDIES SAYING MAX 950PX MEDIA QUERIES -------* //

    .studies-section {

        & .studies-container {
            
            & .studies-content {

                margin: 0 0 0 40px;
            }
        }
    }

    // *------- CONTACT FORM MAX 950PX MEDIA QUERIES -------* //

    #form-section {

        & .form-container {

            & h2 {
                font-size: 60px;
            }
        }
    }
}

@media (max-width: 650px) {


    // *------- HEADER MEDIA QUERIES -------* /


    .header-container {
        height: 300px;

        &>.right-vhbox {

            &>#first-santa {
                font-size: 65px;
                transform: translateX(15%) translateY(-170%);
            }

            & >#second-santa {
                font-size: 65px;
                transform: translateX(16%) translateY(-266%);
                -webkit-text-stroke-width: 1px;
            }
            
            & >#first-deoliveira {
                font-size: 27px;
                transform: translateY(-690%);
                margin-right: 10px;
            }
            
            & >#second-deoliveira {
                font-size: 27px;
                transform: translateX(-2.5%) translateY(-785.5%);
                -webkit-text-stroke-width: 1px;
            }

            & >#assistant {
                font-size: 15px;
                transform: translateY(-1350%);
                margin-right: 10px;

            }
            
            & >#project-manager {
                font-size: 15px;
                transform: translateY(-1370%);
                margin-right: 10px;

            }

            & .linkedin-icon {

                & img {
                    transform: translateY(-813%);
                    width: 30px;
                }

            }

            & .contact-btn-link {

                & >.email-me-button {
                    width: 100px;
                    height: 25px;
                    font-size: 8px;
                    border-radius: 8px;
                    transform: translateY(-1020%);
                    margin-right: 10px;
                }
            } 
        }

        & >.left-vhbox {
            margin-top: 50px;
            & >.profile-picture {
                width: 200px;
                height: 200px;
                border-radius: 20px;
            }
        }
    }

    .bio {
        font-size: 17px;
        width: 372px;
        margin: 10px auto 70px auto;


        & >.blue-line {
            width: 30px;
            height: 2px;
            transform: translateY(500%) translateX(-10%);
        }
    }


    // *------- EXPERIENCE MAX 650PX MEDIA QUERIES -------* /

    .xp-section {

        & >.xp-container {
            width: 70%;
            
            & >.xp-title {
                writing-mode: vertical-lr;
                font-size: 22px;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--main-beige);

                & h2 {
                    text-align: left;
                }
            }

            & >.xp-chrono {

                & >.line-out-top {
                    height: 270px;

                }

                & .line-in {
                    height: 200px;
                }
    
                & >.line-out-down {
                    height: 270px;

                }
            }

            & .xp-chrono {
                margin: 0;
            }

            & .xp-content {

                & :nth-child(1) {
                    margin-top: 30px;
                }

                & .xp-block {

                    & h4 {
                        font-size: 18px;
                    }

                    & p {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    // *------- ROSA PARKS SAYING MAX 650PX MEDIA QUERIES -------* //

    .saying-section {

        & >.quote-up {

            & img {
                width: 45px;
            }
        }

        & .saying-text {

            font-size: 30px;
        }
    
        & .saying-author {

            & .quote-down {
                width: 45px;
                transform:  translateY(30%);
            }
        }

        & .saying-author {
            font-size: 40px;
        }
    }

    // *------- STUDIES MAX 650PX MEDIA QUERIES -------* //

    .studies-section {

        & .studies-container {
            width: 70%;

            & .studies-title {
                font-size: 22px;
                margin: 40px 0 0 0;
                -webkit-text-stroke-width: 1px;

                & h2 {
                    text-align: left;
                }

            }
            
            & .studies-content {
                margin: 0 0 0 40px;

                & .studies-block {

                    & h4 {
                        font-size: 18px;
                    }

                    & p {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    // *------- SKILLS MAX 650PX MEDIA QUERIES -------* //


    .skills-section {

        & >.skills-container {

            & >.skills-stars {
    
                & ul {
                    margin-right: 20px;
                }
    
                & li {
                    line-height: 132%;

                    & img {
                        width: 20px;
                    }
                }
            }
    
            & >.skills-names {
                font-size: 20px;
    
                & ul {
                    margin-left: 20px;
                }
    
                & li {
                    line-height: 200%;
                }
            }

        }
        
    }

    // *------- CONTACT FORM MAX 650PX MEDIA QUERIES -------* //

    #form-section {

        & .form-container {

            & h2 {
                font-size: 45px;
            }

            & form {

                
                & .form-element {

                    & input {
                        width: 350px;
                    }
    
                    & textarea {
                        width: 400px;
                    }
                }

                & button {
                    width: 350px;
                }
            } 
        }
    }
}

@media (max-width: 450px) {


    // *------- HEADER MEDIA QUERIES -------* //


    .header-container {
        height: 200px;

        &>.right-vhbox {

            &>#first-santa {
                font-size: 50px;
                transform: translateX(15%) translateY(-270%);
            }

            & >#second-santa {
                font-size: 50px;
                transform: translateX(16%) translateY(-366%);
                -webkit-text-stroke-width: 1px;
            }
            
            & >#first-deoliveira {
                font-size: 21px;
                transform: translateY(-920%);
                margin-right: 10px;
            }
            
            & >#second-deoliveira {
                font-size: 21px;
                transform: translateX(-4.3%) translateY(-1013%);
                -webkit-text-stroke-width: 1px;
            }

            & >#assistant {
                font-size: 13px;
                transform: translateY(-1600%);
                margin-right: 10px;

            }
            
            & >#project-manager {
                font-size: 13px;
                transform: translateY(-1620%);
                margin-right: 10px;

            }

            & .linkedin-icon {

                & img {
                    transform: translateY(-990%);
                    width: 25px;
                }

            }

            & .contact-btn-link {
                
                & >.email-me-button {
                    width: 80px;
                    height: 22px;
                    font-size: 8px;
                    border-radius: 6px;
                    transform: translateY(-1165%);
                    margin-right: 10px;
                }
            } 
        }

        & >.left-vhbox {
            margin-top: 35px;
            & >.profile-picture {
                width: 150px;
                height: 150px;
                border-radius: 15px;
            }
        }
    }

    .bio {
        font-size: 13px;
        width: 280px;
        margin: 40px auto 60px auto;


        & >.blue-line {
            width: 30px;
            height: 2px;
            transform: translateY(470%) translateX(-30%);
        }
    }


    // *------- EXPERIENCE MAX 450PX MEDIA QUERIES -------* /

    .xp-section {

        & >.xp-container {
            
            & >.xp-title {
                writing-mode: vertical-lr;
                font-size: 22px;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--main-beige);

                & h2 {
                    text-align: left;
                }
            }

            & >.xp-chrono {

                & >.line-out-top {
                    height: 230px;

                }

                & .line-in {
                    height: 170px;
                }
    
                & >.line-out-down {
                    height: 230px;

                }
            }

            & .xp-chrono {
                margin: 0;
                font-size: 20px;
            }

            & .xp-content {

                & :nth-child(1) {
                    margin-top: 30px;
                }

                & .xp-block {
                    margin-bottom: 40px;

                    & h4 {
                        font-size: 15px;
                    }

                    & p {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    // *------- ROSA PARKS SAYING MAX 450PX MEDIA QUERIES -------* //

    .saying-section {

        margin: 100px auto 100px auto;


        & >.quote-up {

            & img {
                width: 30px;
            }
        }

        & .saying-text {

            font-size: 25px;
        }
    
        & .saying-author {

            & .quote-down {
                width: 30px;
                transform:  translateY(30%);
            }
        }

        & .saying-author {
            font-size: 25px;
            -webkit-text-stroke-width: 1px;

        }
    }

        // *------- STUDIES SAYING MAX 450PX MEDIA QUERIES -------* //

        .studies-section {

            & .studies-container {
                width: 70%;
    
                & .studies-title {
                    font-size: 22px;
                    margin: 40px 40px 0 0;
                    -webkit-text-stroke-width: 1px;
    
                    & h2 {
                        text-align: left;
                    }
    
                }

                & .studies-chrono {
                    margin: 0 ;
                    font-size: 20px;
                }
                
                & .studies-content {
                    margin: 0 0 0 40px;
    
                    & .studies-block {
    
                        & h4 {
                            font-size: 18px;
                        }
    
                        & p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

    // *------- SKILLS MAX 450PX MEDIA QUERIES -------* //


    .skills-section {

        & >.skills-container {

            & >.skills-stars {
    
                & ul {
                    margin-right: 20px;
                }
    
                & li {
                    line-height: 98%;

                    & img {
                        width: 15px;
                    }
                }
            }
    
            & >.skills-names {
                font-size: 15px;
    
                & ul {
                    margin-left: 20px;
                }
    
                & li {
                    line-height: 200%;
                }
            }

        }
        
    }



    // *------- CONTACT FORM MAX 450PX MEDIA QUERIES -------* //



    #form-section {

        & .form-container {

            & h2 {
                font-size: 36px;
            }

            & form {

                & .form-element {

                    & input {
                        width: 230px;
                    }
    
                    & textarea {
                        width: 300px;
                    }
                }

                & button {
                    width: 230px;
                }
            }

        }
    }

}