@import 'commons.scss';



// *------- HEADER SECTION -------* //



h1, h2, h3, h4 {
    margin: 0;
}

.header-container {
    display: flex;
    position: relative;
    height: 750px;
}

.profile-picture {
    background-image: url(/MEDIAS/profile-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.right-vhbox {
    text-align: right;
    margin-top: 210px;
    width: 50%;
    height: 600px;
}

.left-vhbox {
    margin-top: 80px;
    width: 50%;
    height: 600px;
}

#first-santa {
    font-size: 180px;
    font-weight: bold;
    color: var(--main-blue);
    transform: translateX(15%);
}

#second-santa {
    font-size: 180px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--main-altblue);
    transform: translateX(16%) translateY(-96%);
}

#first-deoliveira {
    font-size: 90px;
    font-weight: bold;
    color: var(--main-blue);
    transform: translateY(-240%);
    margin-right: 20px;
}

#second-deoliveira {
    font-size: 90px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--main-altblue);
    transform: translateX(-2.2%) translateY(-335.5%);
}

#assistant {
    font-size: 40px;
    color: var(--main-darkgrey);
    margin-right: 20px;
    transform: translateY(-750%);
}

#project-manager {
    font-size: 40px;
    color: var(--main-darkgrey);
    margin-right: 20px;
    transform: translateY(-770%);
}

.email-me-button {
    width: 180px;
    height: 50px;
    margin-right: 20px;
    transform: translateY(-700%);
    background-color: var(--main-blue);
    color: var(--main-beige);
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
        & a {
            text-decoration: none;
            color: var(--main-beige);
        }

        & :hover {
            background-color: var(--main-altblue);
        }

}



// *------- BIO/PROFILE SECTION -------* //



.bio {
    text-align: left;
    width: 60%;
    font-size: 25px;
    margin: auto;
    color: var(--main-blue);
    font-weight: lighter;
}

.blue-line {
    width: 70px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--main-blue);
    transform: translateY(550%) translateX(-50%);
}



// *------- EXPERIENCE SECTION -------* //



.xp-section {
    background-color: var(--main-blue);
    color: var(--main-beige);
    margin: 150px 0 150px 0;
    padding: 100px 0 100px 0;
    height: 650px;

        & >.xp-container {
            display: flex;
            margin: auto;
            width: 66%;
            
            & >.xp-title {
                writing-mode: vertical-lr;
                font-size: 50px;
                margin: 40px 40px 0 0;
            }
            
            & >.xp-chrono {
                margin: 40px;
                font-size: 30px;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                transform: translateY(-21.5%);

                & >.line-out {
                    width: 3px;
                    height: 250px;
                    background-color: var(--main-beige);
                    border-radius: 10px;
                }

                & >.line-in {
                    width: 3px;
                    height: 100px;
                    background-color: var(--main-beige);
                    border-radius: 10px;
                }
            }

            & >.xp-content {
                margin: 40px;
                height: auto;

                & >.xp-block {
                    margin-bottom: 65px;

                    & >h4 {
                        font-size: 22px;
                        font-weight: normal;
                        & >mark {
                            color: var(--main-blue);
                            background-color: var(--main-beige);
                        }
                    }

                    & >p {
                        font-size: 19px;
                        font-weight: lighter;
                    }
                }
            }
        } 
}



// *------- ROSA PARKS SAYING SECTION -------* //



.saying-section {
    width: 60%;
    color: var(--main-blue);
    text-align: left;
    margin: auto;
    height: auto;

    & >.quote-up {
        transform: translateY(40%);
    }

    & >.saying-text {
        font-size: 50px;
        font-weight: lighter;
        line-height: 80%;
    }

    & >.saying-author {
        font-size: 50px;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: var(--main-altblue);
        transform: translateY(-20%);
            & >.quote-down {
                transform: translateX(470%) translateY(-30%);

            }
    }
}



// *------- STUDIES SECTION -------* //


.studies-section {
    background-color: var(--main-blue);
    color: var(--main-beige);
    margin: 150px 0 150px 0;
    padding: 100px 0 100px 0;
    height: 350px;

        & >.studies-container {
            display: flex;
            margin: auto;
            width: 66%;
            justify-content: space-around;
            
            & >.studies-title {
                writing-mode: vertical-lr;
                font-size: 50px;
                margin: 10px 40px 0 0;
            }
            
            & >.studies-chrono {
                margin: 40px;
                font-size: 30px;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                transform: translateY(-28%);

                & >.line-out {
                    width: 3px;
                    height: 160px;
                    background-color: var(--main-beige);
                    border-radius: 10px;
                }

                & >.line-in {
                    width: 3px;
                    height: 60px;
                    background-color: var(--main-beige);
                    border-radius: 10px;
                }
            }

            & >.studies-content {
                margin: 65px;
                height: auto;

                & >.studies-block {
                    margin-bottom: 90px;

                    & >h4 {
                        font-size: 22px;
                        font-weight: normal;
                        & >mark {
                            color: var(--main-blue);
                            background-color: var(--main-beige);
                        }
                    }

                    & >p {
                        font-size: 19px;
                        font-weight: lighter;
                        width: 120%;
                    }
                }
            }
        } 
}


// *------- SKILLS SECTION -------* //


.skills-section {
    color: var(--main-blue);
    height: auto;

        & >.skills-container {
            display: flex;
            justify-content: center;
            margin: auto;

                & >.skills-names {
                    text-align: right;
                    font-size: 30px;

                        & ul {
                            margin-right: 10px;
                            padding: 0;
                            line-height: 130%;
                        }

                        & li {
                            list-style-type: none;
                        }
                }

                & >.skills-stars {

                    text-align: left;
                    font-size: 30px;
                    
                        & ul {
                            margin-left: 10px;
                            padding: 0;
                        }

                        & li {
                            list-style-type: none;
                        }
                }
        }
}



// *------- CONTACT FORM SECTION -------* //



.form-section {
    background-color: var(--main-blue);
    color: var(--main-beige);
    margin: 150px 0 150px 0;
    padding: 100px 0 100px 0;
    height: auto;
    display: flex;
    justify-content: center;

        & >.form-container {
            font-size: 20px;
            text-align: center;

            & >form {

                & >h2 {
                    font-size: 50px;
                    color: transparent;
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: var(--main-beige);
                    margin-bottom: 50px;
                }

                & >.form-element {

                    &>input {
                        background-color: transparent;
                        border: 2px solid var(--main-beige);
                        color: var(--main-beige);
                        border-radius: 10px;
                        width: 400px;
                        height: 40px;
                        margin-top: 15px;
                        padding-left: 15px;

                            &:focus {
                                border-color: none;
                                color: var(--main-blue);
                                background-color: var(--main-beige);
                            }
                    }

                    & >textarea {
                        background-color: transparent;
                        border: 2px solid var(--main-beige);
                        color: var(--main-beige);
                        border-radius: 10px;
                        width: 400px;
                        height: 150px;
                        margin-top: 15px;
                        padding: 15px 0 0 15px;

                        &:focus {
                            border-color: none;
                            color: var(--main-blue);
                            background-color: var(--main-beige);
                        }
                    }
                }
            }     
        }
}

